@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  1421 Woodmere Ave<br />
    Traverse City, Mi 49686<br />
</address>

<address>
    <h1>Any Questions Contact</h1>
    <strong>Email:</strong>   <a href="mailto:wcamma@gmail.com">wcamma@gmail.com</a><br />
</address>