@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Worrior Combat Academy</h1>
    <p class="lead">Training the best of the best</p>
   <p> <img src="~/Content/matt.jpg" alt="Matt" height="400" width="300" style="margin:0,0,0,50px" /></p>
</div>